body {
    font-family: Arial;
    background-color: #eef2f3;
    text-align: center;
}

form {
    background: white;
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 5px;
}
